* {
	font-family: 'Maven Pro', sans-serif;
	font-family: 'Quicksand', sans-serif;
	color: #7C8B88
}

x {
	border: 1px solid red !important;
}


/*
@media only screen and (max-width: 700px) {
	p {
		color: red;
	}
}

@media only screen and (max-width: 500px) {
	p {
		display: none;
	}
}
*/

.wrapper-general {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.67%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.67%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.67%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.67%;
}

.col-12 {
	width: 100%;
}

h1 {
	color: white;
	background-color: #2FBEBD;
	font-size: 40px;
	padding-top: 30px;
	padding-left: 20px;
	padding-bottom: 5px;
}

p {

	font-size: 24px;
	margin: 0px;
	margin-left: 30px;

}